body {
    background-color: black;
}

.block {
    border:0;
    cursor:pointer;
    display:block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px;
    text-align: center;
}

.clear {
    clear: both;
}

.fog {
    background-color: gray;
}

.blank {
    background-color: white;
}